@import "icons";
$color_1: #08415c;
$color_2 : #0072bb;
$color_3 : #272838;
$color_4 : #6b818c;
$color_5 : #eee5e9;
$color_text: #131313;
$color_whatsapp: #075e54;
$color_email: #35465d;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap')
